body {
      font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
      font-size: 13px;
      background: #7eb6ff;
    }

    #title {
        width: 750px;
        font-size: 100px;
        margin: 125px auto;
        text-align: center;
        color: #fff;
    }
    #stuff {
        width: 750px;
        font-size: 50px;
        margin: 100px auto;
        text-align: center;
        color: #fff;
        
    }
    
    #current_temp{
    	width: 750px;
        font-size: 50px;
        margin-bottom: 50px;
        text-align: right;
        color: #fff;
    
    }
    figure {
	text-align: center;
    }